<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
<<<<<<< HEAD

      <%= render 'shared/user_info' %>
		


      </section>
<div class="row">
      <section class="stats">
			<div class="col-lg-1">
				<%= render 'shared/stats' %>
			</div>

      </section>
</div>

		<section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>

    </aside>

    <div class="col-md-4">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </a>
   	<div class="stat">
			<%= render 'shared/chatbox' %>
		</div>
  </a>
  </div>
<% else %>
  <div class="center jumbotron">
       	<div class="stat">
			<%= render 'shared/carousel' %>
		</div>
  </div>
  

<% end %>
=======
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>
    
    <h2>
      This is the home page for the 
      <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>  
  </div>
  
  <%= link_to image_tag("rails.png", alt: "Rails logo"),
              'http://rubyonrails.org' %>
<% end %>
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
