<% provide(:title, 'All notifications') %>
<h1>All notifications</h1>

<%= "No notification to show!" if(current_user.notifications.count==0) %>

<%= will_paginate %>

<ul>
  <%= render @notifications %>
</ul>

<%= will_paginate %>