<% provide(:title, @title) %>
<body>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= gravatar_for @user %>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span>
      <span><b>Microposts:</b> <%= @user.microposts.count %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
      <% if @users.any? %>
        <div class="user_avatars">
          <% @users.each do |user| %>
            <%= link_to gravatar_for(user, size: 30), user %>
          <% end %>
        </div>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% if @users.any? %>


        <% @users.each do |user| %>
            <div class="users follow">
            <li class="users follow">
                <%= link_to gravatar_for(user, size: 50), user %>
                <%= link_to user.name, user %>
                <% if current_user.admin? && !current_user?(user) %>
                    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                <% end %>
              <!-- affiche le bouton d'envoi de message -->
              <div style="width: 100px; height: 50px">
                <%= link_to "Send Message", "#", class: "btn btn-success btn-xs start-conversation",
                            "data-sid" => current_user.id, "data-rip" => user.id %>
              </div>
              <br>

            </li>
            </div>
        <% end %>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
</body>
