<div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">

    <!-- Carousel items -->
    <div class="carousel-inner">

        <div class="active item center jumbotron">
         <span>
				<br>
			   <%= link_to "Enregistrez-vous!", signup_path, class: "btn btn-lg btn-primary" %>
			</span>			
		  </div>
        
		  <div class="item center jumbotron">
			 <h1>Systeme de messagerie</h1>
		  </div>

        <div class="item center jumbotron">
          <h1>Chat en ligne</h1>
		  </div>

    </div>
    <!-- Carousel nav -->
    <a class="carousel-control left" href="#carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel" data-slide="next">&rsaquo;</a>

