<%= link_to gravatar_for(current_user, size: 50), current_user %>
<<<<<<< HEAD

<h1><%= current_user.name %></h1>

<span><%= link_to "Voir mon profile", current_user %></span> 	
	
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>

=======
<h1><%= current_user.name %></h1>
<span><%= link_to "view my profile", current_user %></span>
<span><%= pluralize(current_user.microposts.count, "micropost") %></span>
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
