@charset "utf-8";
/* CSS Document */

/*css du chat */
#sizeTchat {
    position: fixed;
	position:expression("absolute");
	width: 300px;
	display:none;
	z-index:99;
}

#icon-manage {
	display: inline-block;
	font-size: small;
}
#title-contact {
	display: inline-block;
	width: 50%;
	font-size: large;
	font-weight: bold;
}
#icon-accept {
	display: inline-block;
}

#head-panel {
	width: auto;
	
}
#icon-group-right {
	display: inline-block;
	width: auto;
	margin-left: 24px;
	
}
#send-message {
	width: auto;
	display: block;
	margin-top: 14px;
	margin-bottom: 14px;
	height: auto;
	min-height: 35px;
	text-align: right;
	padding-top: 10px;



}
#receive-message {
	min-height: 35px;
	margin-top: 14px;
	margin-bottom: 14px;
	height: auto;
	text-align: left;
	padding-top: 10px;
	width: auto;
	display: block;

}

#message-r {
	margin-left: 0px;
	padding-left: 10px;
	padding-right: 7px;
	font-size: 12px;
	height: auto;
	border-bottom-left-radius: 15px;
	font-weight: bold;
	word-wrap: break-word;
	border-bottom-right-radius: 15px;
	border-top-right-radius: 15px;
	background-color: #337AB7;
	display: inline-block;
	max-width: 140px;
	width: auto;
	list-style-position: inside;
	white-space: pre-wrap;
	padding-top: 10px;
	padding-bottom: 5px;
}

#message-s {
	list-style-position: inside;
	margin-left: 0px;
	padding-right:7px;
	padding-left: 10px;
	font-size: 12px;
	background-color: #AD9F9F;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	width: auto;
	height: auto;
	max-width: 140px;
	display: inline-block;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 5px;
  	word-wrap:break-word;
}
#input-send {
	margin-bottom: 7px;
}
#tchat-body {
	overflow-y: auto;
	height:185px;
}
