<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
<<<<<<< HEAD
    <nav>
      <ul class="nav navbar-nav navbar-right" >
        <li class="<%= active_class(root_path)%>" >
				 <%= link_to root_path do %>
    				<span class="fa-stack fa-lg">
						<i class="fa fa-home fa-stack-2x " style="color:White;"></i>
					</span>
  				  <% end %>
		 </li>
        <% if logged_in? %>
          <li class="<%= active_class(users_path)%>" > 	
				  <%= link_to users_path do %>
    				<span class="fa-stack fa-lg">
						<i class="fa fa-users fa-stack-2x " style="color:#007AA3;"></i>
					</span>
  				  <% end %>
			</li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				 <i class="fa fa-bell fa-3x" style="color:green;"></i><b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
				<li><%= link_to "Notifications ("+current_user.notifications.count.to_s+")", notifications_path if (current_user.notifications.count>0)%></li>

            <li><%= link_to "Notifications", notifications_path if(current_user.notifications.count==0)%></li>
            </ul>
			 </li>
          <li>
			  <%= link_to logout_path, method: :delete do %>
    		   <span class="fa-stack fa-lg">
  				 <i class="fa fa-power-off fa-stack-2x " style="color:red;"></i>
				</span>
  			  <% end %>
           </li>
           </ul>

        <% else %>
          <li>
				<%= link_to login_path do %>
    			 <span class="fa-stack fa-lg">
  					<i class="fa fa-power-off fa-stack-2x " style="color:green;"></i>
				 </span>
  				<% end %>
			</li>
=======
    <%= link_to "sample app", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path %></li>
        <li><%= link_to "Help",   help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Notifications ("+current_user.notifications.count.to_s+")", notifications_path if(current_user.notifications.count>0)%></li>
            <li><%= link_to "Notifications", notifications_path if(current_user.notifications.count==0)%></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
        <% end %>
      </ul>
    </nav>
  </div>
<<<<<<< HEAD
</header>


=======
</header>
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
