<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <meta content='<%= "" %>' name='user-id'/>
    <%= stylesheet_link_tag    'application', media: 'all', 
                                              'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
	 
	 <!-- Dependencies -->
<!-- 	 <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
	 <script src="bower_components/angularjs/angular.js"></script>

	 
	 <link rel="stylesheet" href="bower_components/angular-bootstrap-simple-chat/src/css/style.css">
	 <script src="bower_components/angular-bootstrap-simple-chat/src/scripts/index.js"></script>

	 <link rel="stylesheet" href="bower_components/angular-bootstrap-simple-chat/src/css/themes.css">
 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	 <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet">
	 <%= csrf_meta_tags %>
=======
    <%= csrf_meta_tags %>
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>

      <%= render 'layouts/footer' %>
<<<<<<< HEAD

=======
>>>>>>> 8764b3c22486d84ce9368cb5a5266bcb6bf665e6
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
